%h2 Available Games

.container
  = for game <- @games do
    .row
      .col-sm-4
        %p= link("Game with #{List.first(game.users).username}", to: game.id)
      .col-sm-4
        = TicTacToe.Playable.formatted_insertion_date(game)

