.spot {
  border: 1px solid black;
  font-size: 100px;
  height: 150px;
  text-align: center;
  width: 100px;
}

.spot.disabled {
  border: 1px solid #d3d3d3;
  color: #d3d3d3;
}

.spot:hover {
  cursor: pointer;
}

.spot.disabled:hover {
  cursor: default;
}

.move-tracker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
