.list-item:hover {
  cursor: pointer
}

.confirmation {
  border: 1px solid #efeff5;
  height: 100px;
  margin-bottom: 5px;
}

.confirmation__header {
  background-color: #efeff5;
  display: flex;
  height: 30px;
  align-items: center;
}

.confirmation__header-text {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.confirmation__options {
  padding-left: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}

.confirmation__options-action {
  margin-right: 10px;
  margin-left: 10px;
}
