<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fixed Game</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <h4 class="nav-logo">Fixed Game</h4>

      <%= if Guardian.Plug.current_resource(@conn) do %>
        <div class="nav-right">
          <p class="nav-text"><%= link("Log Out", to: session_path(@conn, :delete), method: :delete, class: "nav-link") %></p>
          <p class="nav-text"><%= Guardian.Plug.current_resource(@conn).username %></p>
        </div>
      <% else %>
        <div class="nav-right">
          <p class="nav-text">
            <%= link("Log In", to: session_path(@conn, :new), class: "nav-link login-link") %>
          </p>

          <p class="nav-text">
            <%= link("Sign Up", to: user_path(@conn, :new), class: "nav-link login-link") %>
          </p>
        </div>
      <% end %>
    </header>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <div id="alert-info"/>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
